<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Mongo Scraper</title>
    
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Moment.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>

    <!-- Google Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Fjalla+One|Varela+Round" rel="stylesheet">
    
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

     <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- Individual Style -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
        <a href="#" class='brand-logo'>Mongo Scraper</a>
        <ul id="nav-mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn" href="/scrape">Scrape New Articles</a></li>
        </ul>
        </div>
    </nav>
    
{{{ body }}}
    
<script src="/js/script.js"></script>
    
    
</body>
</html>
