<div id="main">
    <div class="row">
        <div id="card" class="col s12">
        <div id="img-text" class="center-align">
            <h1>Mongo Scraper</h1>
            <h5>New York Times Edition</h5>
        </div>
    </div>
    </div>
    
    <div id="output">
        <div class="row">
            <div class="col s12">
                <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
        </div>
    </div>
</div>